body {
    background-color: #f7f7f7;
    color: #333; /* hey stephen */
    font-family: sofia, sans-serif;
    margin: 0;
    padding: 0;
  }

.highlight {
  background-color: #eb8ce2; /* why did the chicken cross the road  */
  color: #ffffff; /* to get to the other side */
  padding: 10px;

}
.bio {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  border: 10px solid #ff009d; /* Set border width and color */
  border-radius: 8px; /* Optional: Add rounded corners to the border */
  display: block; /* Make sure the image is displayed as a block element */
  margin: 0 auto; /* Center the image horizontally */
}
  header {
    background-color: #ff009d; /* i love pink */
    color: #ffffff; /* my brother was telling me this was easy, he did baby code in middle school spencer, it is not */
    text-align: center;
    padding: 30px;
  }
  
  section {
    background-color: #ffffff; /* so many silly comments */
    padding: 15px;
  }
  
  h2 {
    color: #ff009d; /* can u tell i love pink? */
  }
  
p {
  color: #000000; /* also the text doesnt make sense */
  font-size: 18px; 
}

  
  a {
    color: #ff009d; /* and i know the pictures dont show up but i cant figure it out */
  }
  
  footer {
    background-color: #ff009d; /* anyway */
    color: #ffffff; /* i hope u enjoyed */
    text-align: center;
    padding: 10px;
  }
  