body {
    background-color: #f7f7f7;
    color: #333; /* hey stephen */
    font-family: sofia, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }

.highlight {
  background-color: #eb8ce2; /* why did the chicken cross the road  */
  color: #ffffff; /* to get to the other side */
  padding: 10px;

}
.bio {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
button {
  background-color: #ffffff; 
  color: rgb(255, 0, 162); 
  padding: 0px 0px; 
  font-size: 16px; 
  font-family: sofia, sans-serif; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px; 

}

button:hover {
  background-color: #ffffff; 
}
img {
  border: 10px solid #ff009d; 
  border-radius: 8px; 
  display: block; 
  margin: 0 auto; 
}
@media only screen and (min-width: 601px) {
}
@media only screen and (max-width: 400px) {
  
}
  header {
    background-color: #ff009d; /* i love pink */
    color: #ffffff; /* my brother was telling me this was easy, he did baby code in middle school spencer, it is not */
    text-align: center;
    padding: 30px;
  }
  
  section {
    background-color: #ffffff; /* so many silly comments */
    padding: 15px;
  }
  
  h2 {
    color: #ff009d; /* can u tell i love pink? */
    text-align: center;
  }
  
p {
  color: #000000; /* also the text doesnt make sense */
  font-size: 18px; 
}

  
  a {
    color: #ff009d; /* and i know the pictures dont show up but i cant figure it out */
  }
  
  footer {
    background-color: #ff009d; /* anyway */
    color: #ffffff; /* i hope u enjoyed */
    text-align: center;
    padding: 10px;
  }
  